@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #e8a000;
  border-color: #e8a000;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #e8a000;
  border-color: #e8a000;
}
.ant-steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #ffffff;
}

.ant-steps .ant-steps-item-title {
  color: #1d1d1db2;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  line-height: 32.68px;
}
.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #1d1d1db2;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  line-height: 32.68px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #1d1d1db2;
}
.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #1d1d1db2;
}
.ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #1d1d1db2;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-rate {
  color: #e8a000;
}
.ant-progress
  .ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: #ffaa00;
}
.ant-progress .ant-progress-circle-trail {
  stroke: #e0efdb;
}
:where(.css-dev-only-do-not-override-14i19y2).ant-progress.ant-progress-circle
  .ant-progress-text {
  color: #ffffff;
}
.ant-progress.ant-progress-circle .ant-progress-text {
  color: white;
}

@media only screen and (max-width: 700px) {
  .ant-steps
    .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: #1d1d1db2;
    font-size: 10px;
    font-weight: 700;
    line-height: 15.68px;
  }
  .ant-steps .ant-steps-item-description {
    color: rgba(0, 0, 0, 0.45);
    font-size: 8px;
  }
  .ant-steps
    .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    font-size: 10px !important;
    color: #1d1d1db2;
  }

  .ant-steps
    .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-description {
    color: #1d1d1db2;
    font-size: 8px !important;
    font-weight: 500;
    line-height: 10.16px !important;
  }
  .ant-steps .ant-steps-item-icon {
    width: 18px !important;
    height: 18px !important;
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .ant-rate {
    font-size: 10px !important;
  }
  .ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-title {
    line-height: 12px !important;
  }
  :where(.css-dev-only-do-not-override-qnu6hi).ant-steps.ant-steps-vertical
    > .ant-steps-item
    .ant-steps-item-description {
    padding-bottom: 5px !important;
  }
  .ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
    display: block;
    min-height: 18px !important;
    overflow: hidden;
  }
}
